<section class="u-bg-1 grid user__dash-movie-index">
  <div class="grid__cell 1/6 user__dash-left-nav">
    <h1 class="user__dash-left-nav-hed">
      Navigation
    </h1>
    <nav>
      <a href="/dashboard">
        <h2 class="user__dash-nav-item">
          Personality
        </h2>
      </a>
    </nav>
    <nav>
      <a href="/dashboard/critics">
        <h2 class="user__dash-nav-item active">
          Critics
        </h2>
      </a>
    </nav>
    <nav>
      <a href="/dashboard/movies">
        <h2 class="user__dash-nav-item ">
          Movies
        </h2>
      </a>
    </nav>
  </div>
  <% @matches.each do |m| %>
    <div class="grid--flush critic__index-box">
      <div class="grid__cell 1/3">
        <img src=<%= m.critic.picture %> class="critic__index-pic">
        <a class="critic__index-out-link" href=<%= m.critic.critic_page%>>View their critic page on rogerebert.com</a>
      </div>
      <div class="grid__cell 1/2 critic__index-infobox">
        <a class = "u-bg-1 critic__index-hed" href=<%= "/critics/show?critic_id="+ m.critic.id.to_s %>>
          <h1>
            <%= m.critic.name %>
          </h1>
        </a>
        <p>
          <%= m.critic.bio %>
        </p>
      </div>
    </div>
  <% end %>
</section>