<section class="slide movie__show-slide u-first-slide">
  <div class="movie__show-poster">
    <img src=<%= @review.movie["Poster"]%>>
  </div>
  <div class="movie__show-infobox">
    <h1 class="movie__show-infobox-title">
      <%= @review.movie["Title"]%>
    </h1>
    <p>
      <%= @review.movie["Plot"] %>
    </p>
    <br>
    <p>
      <strong>
        Actors:
      </strong>
      <%= @review.movie["Actors"]%>
    </p>
    <p>
      <strong>
        Genres:
      </strong>
      <%= @review.movie["Genre"]%>
    </p>
    <p>
      <strong>
        Critic Score:
      </strong>
      <%= @review.num%>/4
    </p>
    <p>
      <strong>
        Runtime:
      </strong>
      <%= @review.movie["Runtime"]%>
    </p>
  </div>
</section>