<section class="slide movie__show-slide u-first-slide">
  <div class="movie__show-poster">
    <% if (@review.movie["Plot"] != "N/A") %>
      <img class="movie__show-poster" src=<%= @review.movie["Poster"]%>>
    <% else %>

    <% end %>
  </div>
  <div class="movie__show-infobox">
    <h1 class="movie__show-infobox-title">
      <%= @review.movie["Title"]%>
    </h1>
    <p class="plot">
      <% if @review.movie["Plot"] === "N/A" %>
        <%= "We're sorry. Our IMDB database is missing plot and poster information for this movie. You can read the review" %>
        <%= link_to("here", @review_url) %>
        <%= " or view the movie's IMDB page" %>
        <%= link_to("here.", @imdb_url ) %>
      <% else %>
        <%= @review.movie["Plot"] %>
      <% end %>
    </p>
    <br>
    <p>
      <strong>
        Actors:
      </strong>
      <%= @review.movie["Actors"]%>
    </p>
    <p>
      <strong>
        Genres:
      </strong>
      <%= @review.movie["Genre"]%>
    </p>
    <p>
      <strong>
        Critic Score:
      </strong>
      <% if @review.num.to_s.slice(1,2) === ".5" %>
        <%= @review.num.to_s + "/4" %>
      <% else %>
        <%= @review.num.to_s.slice(0,1) + "/4" %>
      <% end %>
    </p>
    <p>
      <strong>
        Runtime:
      </strong>
      <%= @review.movie["Runtime"]%>
    </p>
  </div>
</section>
<section class="slide u-bg-2 grid">
  <div class="movie__show-critic-about grid__cell 1/2">
    <div>
      <img  class="critic-pic" src=<%= @review.critic.picture %>>
    </div>
    <div>
      <h1>
        <%= @review.critic.name %>
      </h1>
      <p class="critic-bio">
        <%= @review.critic.bio %>
      </p>
      <%= link_to "Read the review.", @review_url %>
    </div>
  </div>
  <div class="grid__cell 1/2 movie__show-critic-comparison">
    <canvas id="myChart" width="350" height="350"></canvas>
    <script>
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'radar',
        data: <%== @data.to_json %>
      })
    </script>
  </div>
</section>