<!DOCTYPE html>
<html>
  <head>
    <title>SquidMovie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page__nav">
      <%= image_tag("nav__header-menu.png", class: "page__nav-header") %>
      <%= image_tag("logo.png", class: "page__nav-logo") %>
      <button class="nav__header-account-button"></button>
    </header>
    <%= yield %>
  </body>
</html>
